@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
       url("../assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
       url("../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;

  /* No select */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: 400;
  background: #323232;
  color: #e5e5e5;
  margin: 0 auto;
}

.game {
  margin-left: 10rem;
  margin-bottom: 5rem;
}

.game__wrapper {
  display: flex;
}

.game__title {
  font-size: 9rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.game__description {
  
}

.game__start {
  padding: 1rem 4rem;
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: 700;
  margin-top: 5rem;
  background: #666666;
  color: #e5e5e5;
  border: none;
}

.game__start:hover {
  background-color: black;
}

.game__restart {
  padding: 1rem 4rem;
  font-size: 2rem;
  font-family: "Montserrat";
  font-weight: 700;
  margin-top: 5rem;
  color: #666666;
  background-color: #e5e5e5;
  border: none;
}

.game__restart:hover {
  background-color: black;
  color: white;
}


#canvas {
  /* border: 1rem solid black; */
  margin: 0rem 10rem;
  background-color: grey;
  cursor: none;
}

.counter {
  margin-bottom: 2.5rem;
}

.counter__title {
  font-weight: 700;
}

.counter__number {
  margin-top: 1rem;
  display: block;
}

.timer__title {
  font-weight: 700;
}

.timer__number {
  margin-top: 1rem;
}

.results__title {
  margin-top: 2.5rem;
}

.results__list {
  margin-top: 1rem;
}

.game__remark {
  margin-top: 1rem;
}

.rules {
  margin-top: 2.5rem;
}

.rules__title {
  margin-bottom: 1rem;
}

.rules__text {
  margin-bottom: 0.5rem;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid white;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  animation: cursorAnimation2 .5s infinite alternate;
  display: none;
}

.grow {
  background-color: black;
}

@keyframes cursorAnimation2{
  from {
      transform: scale(1);
  }
  to {
      transform: scale(0.6);
  }
}